<nav class="navbar navbar-expand-lg navbar-light" style="padding-top: 20px; margin-left: 20px;">
  <a class="navbar-brand" style="font-size: 20px; font-weight:350; border: 3px solid #f8a48d;">
    tekkinnshop
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/dashboard']"
          >Anasayfa <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i style="font-size: 15px" class="fa-solid fa-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/login']">Giriş Yap</a>
          <a class="dropdown-item" [routerLink]="['/register']">Üye ol</a>
          <a class="dropdown-item" *ngIf="user" (click)="onlogOut()"
            >Çıkış Yapın</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Mağazalarımız</a>
      </li>
    </ul>

    <form class="d-flex">
      <input
        class="form-control mr-sm-2"
        [(ngModel)]="searchTerm"
        name="search"
        (keyup)="search($event)"
        type="search"
        placeholder="Aradığınız Ürün.."
        aria-label="Search"
      />
      <button  class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <button [routerLink]="['/cart']" class="btn btn primary">
      <i
        style="font-size: 20px; color: rgba(74, 73, 73, 0.9)"
        class="fa-solid fa-bag-shopping"
      ></i>

      <div style="font-size: 10px" class="badge bg-danger">
        {{ totalItem }}
      </div>
    </button>
  </div>
</nav>
<div *ngIf="user" class="d-flex justify-content-center">
  <div class="item">
    <a [routerLink]="['/shop']">
      <h6>Tüm Ürünler</h6>
    </a>
  </div>
  <div class="item">
    <a [routerLink]="['/shop']" [queryParams]="{ category: 'Kolye' }">
      <h6>Kolye</h6>
    </a>
  </div>
  <div class="item">
    <a [routerLink]="['/shop']" [queryParams]="{ category: 'Yüzük' }">
      <h6>Yüzük</h6>
    </a>
  </div>
  <div class="item">
    <a [routerLink]="['/shop']" [queryParams]="{ category: 'Bileklik' }">
      <h6>Bileklik</h6>
    </a>
  </div>
  <div class="item">
    <a [routerLink]="['/shop']" [queryParams]="{ category: 'Küpe' }">
      <h6>Küpe</h6>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
