<!-- Kategori Link Başlangıç-->
<div class="card-top container-fluid">
  <div class="d-flex justify-content-center" style="padding: 0 30px">
    <div class="item">
      <a routerLink="/login">
        <h2>Ürünleri Görebilmek İçin Lütfen Giriş Yapınız..</h2>
      </a>
    </div>
  </div>
</div>
<!-- Kategori Link Bitiş-->

<!--Bannerlar-->
<div *ngIf="currentHref != '/dashboard/shop'">
  <img
    src="https://atasay.akinoncdn.com/cms/2022/03/02/c3b8f26c-aed1-4195-83e0-f09c9112d761.jpg"
    class="img-fluid"
    style="
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    "
    alt="Responsive image"
  />

  <div id="wrapper">
    <div id="outer">
      <div class="itemwrapper">
        <img
          src="https://atasay.akinoncdn.com/cms/2022/03/23/09b45b92-4f75-450e-809f-281db784019a.jpg"
          alt="bag"
        />
      </div>
      <div class="itemwrapper">
        <img
          src="https://atasay.akinoncdn.com/cms/2022/03/23/e17e55a9-d3f4-4cf9-9b86-2367cfcd1bfe.jpg"
          alt="pen"
        />
      </div>
    </div>
  </div>

  <div id="wrapper">
    <div id="outer">
      <div class="itemwrapper">
        <img
          src="https://atasay.akinoncdn.com/cms/2022/03/11/c87b368d-8ba8-4a1d-916f-0ed7e1d523eb.jpg"
          alt="bag"
        />
      </div>
      <div class="itemwrapper">
        <img
          src="https://atasay.akinoncdn.com/cms/2022/03/11/b41496df-feb1-4b6d-87cb-6bbe5e68f1ea.jpg"
          alt="pen"
        />
      </div>
    </div>
  </div>

  <div id="wrapper">
    <div id="outer">
      <div class="itemwrapper">
        <img
          src="https://atasay.akinoncdn.com/cms/2022/03/23/9ca84c56-7719-4728-aac1-7227468f63fa.jpg"
          alt="bag"
        />
      </div>
      <div class="itemwrapper">
        <img
          src="https://atasay.akinoncdn.com/cms/2022/03/23/109fec0f-bef3-4f29-b662-8278caf8270f.jpg"
          alt="pen"
        />
      </div>
    </div>
  </div>

  <div id="wrapper">
    <div id="outer">
      <div class="itemwrapper">
        <img
          src="https://atasay.akinoncdn.com/cms/2022/03/23/0193513f-aad7-4498-93ad-f8099c3c009c.jpg"
          alt="bag"
        />
      </div>
      <div class="itemwrapper">
        <img
          src="https://atasay.akinoncdn.com/cms/2022/03/23/ebebb2c3-8ab7-4971-8968-bad55e7a0a89.jpg"
          alt="pen"
        />
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="text-center text-white" style="background-color: #f8a48d">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>E-mail adresinizle bültenimize üye olun!</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input
                type="email"
                id="form5Example21"
                class="form-control"
                placeholder="*E-mail Adresi"
              />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">

              Abone Ol
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Kampanyalarımız</h5>

          <ul class="list-unstyled mb-0">
            <li>İndirimler</li>
            <li>Yeni Koleksiyon</li>
            <li>Özel Seri</li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Kurumsal</h5>

          <ul class="list-unstyled mb-0">
            <li>İnsan Kaynakları</li>
            <li>İş Ortaklarımız</li>
            <li>Mağazamız Olun</li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Yardım</h5>

          <ul class="list-unstyled mb-0">
            <li>Site Haritası</li>
            <li>Hesabım</li>
            <li>İade İşlemleri</li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Bize Ulaşın</h5>

          <ul class="list-unstyled mb-0">
            <li>Adres Ve Konum</li>
            <li>Mağazalarımız</li>
            <li>Bize Ulaşın Formu</li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-white">tekkinnshop since 2022</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
